<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<settings>
    <setting id="container" value="mp4" />
    <setting id="coptions" value="newest" />
    <setting id="gateway" value="192.168.0.18" />
    <setting id="port" value="9005" />
    <setting id="region" value="US" />
    <setting id="resolution" value="360p" />
    <setting id="soptions" value="relevance" />
</settings>
